.card {
 text-align: center;
 padding: 20px;
 display: list-item;
 margin: -30px;
}
.card p {
  font-size: 16px;
  line-height: 0.5em;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
}
.btn-1{
  display: flex;
  justify-content: baseline;
  align-items: end;
  justify-content: end;
  gap: 10px;
}